.Search{
    background-color: #181818;
    width: 100%;
    height: 11.5%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
}
.mainSearch{
    
    display: grid;
    grid-template-columns: 75% 25%;
}
.search1{
    padding-top: 1%;
    width: 70%;
    display: flex;
    margin-left: 17%;
}
.searchBox{
    width: 80%;
    height: 25px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.searchicon{
    /* margin-left: -3px; */
    width: 30px;
    height: 30px;
    background-color: rgb(59, 51, 51);
    cursor: pointer;
   
  

}


.mic{
    margin-left: 5px;
  
    background-color: transparent;
    all: unset;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}

.search2{
    padding-top: 4%;
    display: flex;
    column-gap: 10%;
    justify-content: end;

    
}

.line1{
    border-bottom: 2px solid #363636;
}

.more{
    padding-top: 0.8%;
    margin-left: 10px;
    display: flex;
    column-gap: 18px;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.word1{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
}
.word{
    background-color: #332f2f;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.word:hover{
    /* hover */
    background-color: #3F3F3F;
    color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

