.menu{
    cursor: pointer;
}

.logo{
    cursor: pointer;
}

.Side{
    background-color: #1a1a1a;
    width: 100%;
    height: 120vh;

    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    display: flex;
    padding: 5%;
    gap: 10%;
}

.part1{
    padding: 5% 5% 5% 0%;
    margin-right: 5%;
    /* background-color: gray; */
}
.navigation{
    display: flex;
    column-gap: 10%;
    /* padding: 3%; */
    padding-top: 4%;
    padding-left: 7%;
    font-size: .99em;
    /* font-weight:500; */
}
.navigation:hover{
    background-color: #3F3F3F;
    /* font-weight: 500; */
    cursor: pointer;
    border-radius: 10px;
}

.line{
    border-bottom: solid 2px gray;
    width: 90%;
}

.part2{
    padding: 5% 5% 5% 0%;
    margin-right: 5%;
}

.part3{
    padding: 5% 5% 5% 0%;
    margin-right: 5%;
    margin-top: 1%;
    
}
.sub{
    color: gray;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 5%;
    padding-left: 7%;
    /* hello */
}